@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.header-image {
  transition: all .3s ease;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}

.header-image:hover {
  transform:
    perspective(250px)
    rotateY(10deg)
}

.header-image:active {
  transform:
    scale(1.1)
}